.login-form {
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
  height: 250px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}